<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <link rel="stylesheet" href="Navbar.css">
</head>
<body>
        <!-- upper navbar section -->
        <div class="container">
            <div class="navbar-container">
               <div class="upper-navbar">
                  <span>BREAKING</span>
                  <h2>Small Business of owner with full of Passion and Smiles</h2>
                 <div class="social-icons">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                    <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    <a href=""><i class="fa-solid fa-virus"></i></a>
                 </div>
               </div>
              </div>
            </div>
        </div>
        <!-- lower section navbar -->
        <nav>
    <div class="logo">MAGAZINE</div>

    <div class="hamburger" id="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <ul class="nav-links" id="navLinks">
      <li><a href="#">HOME</a></li>
      <li>
        <a href="#">FEAUTURES</a>
        <ul class="dropdown">
                       <li><a href=""><span>Unique Design</span></a></li>
                        <li><a href=""><span>Poste Style</span></a></li>
                        <li><a href=""><span>Header Style</span></a></li>
                        <li><a href=""><span>Footer style</span></a></li>
                        <li><a href=""><span>Gutenburg Style</span></a></li>
                        <li><a href=""><span>Home Sliders</span></a></li>
                        <li><a href=""><span>Pages Style</span></a></li>
                        <li><a href=""><span>Category Layouts</span></a></li>
                        <li><a href=""><span>Libraries</span></a></li>
                        <li><a href=""><span>Eccomerence</span></a></li>
                        <li><a href=""><span>Receipes</span></a></li>
        </ul>
      </li>
      <li>
        <a href="#">SHOP</a>
        <ul class="dropdown">
                        <a href=""><span>The Shop</span></a></li>
                        <li><a href=""><span>Cart</span></a></li>
                        <li><a href=""><span>Checkout</span></a></li>
                        <li><a href=""><span>My Account</span></a></li>
        </ul>
      </li>
      <li><a href="#">TECHNOLOGY</a></li>
      <li><a href="#">CULTURE</a></li>
      <li><a href="#">BUY THEME</a></li>
     </ul>
   
     <i class="fas fa-search"></i>
  </nav>
    <script src="Navbar.js"></script>
</body>
</html>