* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

.footer {
  background-color: #1e1e1e;
  color: #f0f0f0;
  padding: 40px 20px;
 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 250px;
}

.footer-logo {
  width: 100px;
  margin-bottom: 10px;
  font-size: 20px;

}

.footer-column p {
  font-size: 14px;
  line-height: 1.5;
  color: #ccc;
  line-height: 2.5rem;
  
}
.footer-column h2{
    font-size: 30px;
    margin-right: 10vh;
    
}
.blog-preview {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  flex-direction: column;
}

.blog-img {
  width: 100px;
  height: auto;
  border-radius: 6px;
}

.blog-content h4 {
  margin-bottom: 8px;
  font-size: 25px;
  color: #fff;

}

.blog-content p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #ffff;
  display: flex;
 
 
}

.blog-date {
  font-size: 12px;
  color: #999;
}

.social-icons a {
  margin-right: 12px;
  font-size: 25px;
  color: #f0f0f0;
  transition: color 0.3s ease;
  margin: 10px;
  line-height: 4.5rem;
  border: 1px solid;
  padding: 0 10px;
  border-radius: 4px;

}

.social-icons a:hover {
  color: red;
}
hr{
    margin: 7vh;
    color: #fff;
   
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .blog-preview {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .blog-content {
    max-width: 100%;
  }

  .social-icons a {
    margin: 0 10px;
  }
}
